[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "samplingin"]
	path = samplingin
	url = https://github.com/choerulafifanto/samplingin
